*.csv filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
parts_parquet/** filter=lfs diff=lfs merge=lfs -text
todas_emissoes.parquet filter=lfs diff=lfs merge=lfs -text
